{% extends 'base.html.twig' %}

{% block title %}Kangouroute
{% endblock %}

{% block body %}

	<section id="container" class="container">
		<div class="content">
			<img src="{{ asset('images/kangourou.jpg') }}" alt="">
			<h1 class="welcome-text">Bienvenue cher voyageur chez kangouroute ! 
				       Pour consulter les annonces, s’inscrire, se connecter, c’est juste en dessous, et roule ma poule !</h1>
			<button class="btn">Consulter les annonces</button>
			<div class="login-buttons">
				<button class="btn">Connexion</button>
				<button class="btn">Inscription</button>
			</div>
		</div>
	</section>

{% endblock %}
