#infos {
    padding: 0;
    margin: 0;
    background: white;
    border-bottom: #504e4e 2px solid;
    width: 100%;

    .character {
        display: flex;
        justify-content: center;
        padding: 30px;

        .left {
            display: flex;

            img {
                width: 80px;
                height: 80px;
            }

            .text {
                padding-left: 20px;
                font-weight: bold;
                font-size: 25px;
            }
        }

        .right {
                
                .cardGrade {
                display: flex; 
                align-self: flex-start; 
                margin-top: 30px;
                margin-left: 50px;
  
                .icon[data-active=true] {
                color: #eeff00;
                }
  
                .icon[data-active=false] {
                color: #504e4e;
                }
              }
        }
    }

    .btn {
          display: flex;
          justify-content: center;

          a {
            font-size: 25px;
            color: deepskyblue;
            cursor: pointer;
            text-decoration: none;
            padding: 25px;
          }

          .deconnexion {
            color: red;
          }
    }
}

#règles {
  padding: 0;
  margin-top: -20px;
  background: white;
  border-bottom: #504e4e 2px solid;
  width: 100%;

  h1 {
    text-align: center;
    padding-top: 30px;
  }

  .rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

    .picture {
      display: flex;
      flex-direction: column;

      img {
        width: 40px;
        height: 40px;
        padding: 10px;
      }
    }

    .rule {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;

      .règle {
        display: flex;

        p {
          font-size: 20px;
          color: #a8a3a3;
        }

        a {
          font-size: 20px;
          text-decoration: none;
          color: deepskyblue;
          padding-left: 30px;
          padding-top: 20px;
        }
      }
    }
  }
}