<footer>
  <div class="footer-content">
    <div class="text-elements">
      <p>Transparence des plateformes</p>
      <p>Informations légales</p>
      <p>Paramètres des cookies</p>
    </div>
    <div class="social-media">
      <p>Nous suivre sur les réseaux sociaux :</p>
      <div class="social-icons">
        <img src="{{ asset('images/facebook_icon.png') }}" alt="Facebook">
        <img src="{{ asset('images/instagram_icon.png') }}" alt="Instagram">
        <img src="{{ asset('images/youtube_icon.png') }}" alt="Youtube">
      </div>
    </div>
  </div>
</footer>