<header>
	<nav>
		<div class="gauche">
			<img src="{{ asset('images/kangourou.jpg') }}" alt="Symfony">
			<div class="onglets">
				<a href="{{ path('annonce') }}">Retour aux annonces</a>
				<a href="">Se connecter</a>
				<a href="">S'inscrire</a>
			</div>
		</div>
		<div class="droite">
			<form class="search-form">
				<input type="text" placeholder="Rechercher...">
				<button type="submit">
					<strong>OK</strong>
				</button>
			</form>
			<a href=""><img src="{{ asset('images/user.png') }}" alt="Symfony"></a>
		</div>
	</nav>
</header>
